.bg-image {
    background-image: url('/Hero_bcg_img.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

body {
    margin: 0;
}

.a {
    .nav-brand {
        margin: 0;
    }
}
